.calculator{
    width: 500px;
    height: 700px;
    background-color: darkblue;
    border-radius: 35px;
    outline: 5px solid darkblue;
    margin: 90px auto;
}
input{
    margin-left: 42.5px;
    margin-top: 40px;
    padding: 20px 10px;
    outline: 5px solid darkblue;
    font-size: 32px;
}
.buttons{
    width: 440px;
    height: 550px;
    margin-left: 40px;
    margin-top: 30px;
}
button{
    width: 100px;
    height: 100px;
    margin-left: 2px;
    margin-top: 5px;
    font-size: 32px;
    background-color: lightblue;
    outline: 2px solid green;
    border-radius: 25px;
}
.button:active{
    border: 7px solid red;
}
.imp{
    background-color: red;
    outline: 2px solid orange;
}
.end{
    background-color: green;
    outline: 2px solid orange;
    border-radius:0px;  
}
.end:active{
border-radius: 50%;
border: none;
}
.del{
    background-color: yellow;
    outline: 2px solid orange;
}
.oper{
    background-color: rgb(168, 168, 245);
    outline: 2px solid orange;
}
@media (max-width:320px){
 body{
    overflow: hidden;
 }
 .calculator{
    margin-top: -20px;
 }
}